src/main/mule/bbh.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="${https.host}" port="${https.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" path="certs/server-keystore.jks" alias="mule-server" keyPassword="12345678" password="12345678" />
			</tls:context>
		</http:listener-connection>
    </http:listener-config>
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="HotelBookingSOAP" service="HotelBooking" wsdlLocation="HotelBooking.wsdl"/>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/hotelBooking">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:message>#[payload]</apikit-soap:message>
            <apikit-soap:attributes>#[
              %dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]</apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
    <flow name="getAllHotels:\soapkit-config" doc:id="97bc963e-12cf-4332-b8b0-588a9a0d5f17">
		<flow-ref doc:name="Flow Reference" doc:id="2d138dc1-fdcc-425e-846e-76a400e18943" name="getAllHotels"/>
    </flow>
    <flow name="bookHotel:\soapkit-config">
        <flow-ref doc:name="Flow Reference" doc:id="04bc0a22-6b44-4157-89b2-fa1d6b0b22a4" name="bookHotel"/>
    </flow>
</mule>
